@model IEnumerable<TixlorerCore.Models.Coupon>

@{
    ViewData["Title"] = "List";
}

<h2 class="d-flex justify-content-center mt-3">優惠券管理系統</h2>
<div class="d-flex justify-content-center mt-3">
    @using (Html.BeginForm())
    {
        <p>
            關鍵字 @Html.TextBox("txtKeyword")
            <input class="btn btn-secondary ms-3" type="submit" value="查詢" />
        </p>
    }
</div>
<p class="d-flex float-end mx-5">
    <a class="btn btn-primary" asp-action="Create" role="button">建立新優惠券</a>
</p>
<table class="table table-hover">
    <thead class="table-secondary">
        <tr>
            <th>
                優惠券編號
            </th>
            <th>
                優惠券名稱
            </th>
            <th>
                適用商品
            </th>
            <th>
                折扣類型
            </th>
            <th>
                折扣額度
            </th>
            <th>
                可用天數
            </th>
            <th>
                使用期限
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PId)
            </td>
            <td>
                @{ if (item.DiscountType == 0)
                      @Html.DisplayName("金額折扣")
                    else if (item.DiscountType == 1)
                      @Html.DisplayName("百分比折扣")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsableDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", "Coupon", new { id = item.CouponId }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("移除", "Delete", "Coupon", new { id = item.CouponId }, new { onclick = "return confirm('確定要移除嗎?')", Class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
